.div1{
    background-color: red;
    padding: 10px;
    margin: 0px;
    border-top: black 2px solid;
    border-bottom: black 2px solid;
}

.nav1 a{
        position: relative;
        left: 1300px;
        bottom: 25px;
        margin-right: 25px;
}

.img1{
    position: relative;
    top: 10px;
    left: 100px;
}

body{
    margin: 0px;
}

.div2{
    margin: 100px;
    position: relative;
    left: 30px;
    border-width: medium;
    padding: 20px;
    border: whitesmoke 3px solid;
    border-top: 0px;
    background-color: whitesmoke;

}

.b1{
    font-weight: normal;
    font-size: xx-large;
}

.div3{

    background-color: white;
    border: whitesmoke 3px solid;
    margin: 100px;
    position: relative;
    bottom: 100px;
    left: 30px;
}

.p1{
    position: relative;
    left: 20px;
}

.p2{
    position: relative;
    left: 20px;
}
